.form-dash{
  background-color: #02595A;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 40px;
  width: 88%;
  text-align: left;
  margin-bottom: 20px;
  padding: 2vh;
}

.button-sample-dashform {
  display: flex;
  justify-content: center;
  background-color: #02595A;
  color: #FFFFFF;
  padding: 10px 30px;
  margin: 20px 100px;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid white;
}
