.recipe-show-display {
  width: 100%;
  padding: 20px 30px
}

.recipe-show {
  background-color: #02595A;
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
  border-radius: 40px;
  width: 100%;
  text-align: left;
}

// .ul-recipe {
//     align-items: flex-start;
// }

// .dropdown-menu.show {
//   align-items: flex-start;
// }
