.restaurant-p {
  display: flex;
  justify-content: center;
  border-radius: 40px;
  background-color: #02595A;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  // margin-bottom: 20px;
  width: 375px;
  padding: 11px 30px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

b, strong {
  font-weight: 500;
}


.restaurant-services {
  display: flex;
}

.restaurant-p p{
  margin: 0;
}

// .restaurant-show {
//   background-color: #02595A;
//   color: #FFFFFF;
//   text-decoration: none;
//   border-radius: 3px;
//   width: 100%;
//   text-align: left;
//   padding-top: 8px;
//   padding-left: 15px;
//   margin-bottom: 20px;
//   width: 375px;
// }

.restaurant-show-button {
  // display: flex;
  // justify-content: center;
  color: #02595A;
  background-color: #F2F2F2;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 40px;
  border: 3px solid #02595A;
  font-size: 20px;
  font-weight: 700;
}

.button-combo-top-restaurant {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.mapboxgl-marker .mapboxgl-marker-anchor-center {
  transform: translate(169px, 106px) translate(-50%, -50%) translate(0px, -14px);
}

.icone-p {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.fa-plus {
  padding: 10px;
  rotate: 2s;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.fa-plus.down {
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}

.restaurant-services {
  padding: 2.5px 0px;
}
