<%= render "shared/background", model: @recipe %>

<div class="global-container">

<div class="container-ingedients">
        <div class="dropdown-center">
          <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Ingredients
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ingredients List</a></li>
          </ul>
        </div>

        <div class="dropdown-center">
          <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Recipe
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Recipe description</a></li>
          </ul>
        </div>

        <div class="dropdown-center">
          <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Links
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Link youtube</a></li>
          </ul>
        </div>
</div>
</div>
