<h2>Welcome to</h2>
<h1>COUNTRY</h1>

<h3>Recipes</h3>
<% @recipes.each do |recipe| %>
  <ul>
    <li>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
    </li>
  </ul>
<% end %>
<%= link_to "See more", recipes_path %>

<h3>Restaurants</h3>
<% @restaurants.each do |restaurant| %>
  <ul>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
    </li>
  </ul>
<% end %>
<%= link_to "See more", restaurants_path %>
