<div class="container home-content">
  <h1>Flavor Voyage</h1>

  <div class="home-btn-access">
    <button class="home-button mb-3">Choose a country</button>
    <button class="home-button">Located me</button>
  </div>
</div>
