<div class="container home-content">
  <h1>Flavor Voyage</h1>

  <div class="home-btn-access">
    <select class="form-select home-button mb-3" aria-label="Select a country"
      onChange="if(this.selecteIndex!=0) self.location=this.options[this.selectedIndex].value"
      >
      <option selected>Select a country</option>
      <option value="choices">France</option>
      <option value="choices">Spain</option>
      <option value="choice">Italy</option>
    </select>
      <% if user_signed_in? %>
        <%= link_to choices_path do  %>
          <button class="home-button">Locate me</button>
        <% end %>
        <% else %>
        <%= link_to new_user_session_path do  %>
          <button class="home-button">Locate me</button>
        <% end %>
      <% end %>

  </div>
</div>
