<div class="container home-content">
  <h1>Flavor Voyage</h1>

  <div class="home-btn-access">
    <select class="form-select home-button mb-3" aria-label="Default select example">
      <option selected>Select a country</option>
      <option value="1">France</option>
      <option value="2">Spain</option>
      <option value="3">Italy</option>
    </select>
    <button class="home-button">Located me</button>
  </div>
</div>
