<%= render "shared/background", model: @restaurant %>


<div class="global-container">
    <div class="container-radius">
        <p>Price</p>
        <p>Services</p>

        <p><%= @restaurant.address %></p>

        <p>Itinary</p>
    </div>
        <%= link_to "Homepage", choices_path%>
</div>
