.card-product-white {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  max-width: 95vw;
  margin-top: 6px;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.card-product-white:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-product-white .card-product-infos-white {
  padding: 20px;
}

.card-product-infos-white {
  text-align: center;
}

.card-product-white img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 8px;
  border-radius: 20px;
}
.card-product-white h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product-white p {
  font-size: 14px;
  line-height: 1.4;
  color: #02595A;
  margin-bottom: 0;
  margin-top: 8px;
}

.recipes-cards a {
  text-decoration: none;
  color: #02595A;
}

.card-product-green {
  overflow: hidden;
  height: 120px;
  background: #02595A;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  max-width: 95vw;
  margin-top: 6px;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.card-product-green:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-product-green .card-product-infos-green {
  padding: 20px;
}

.card-product-infos-green {
  text-align: left;
}

.card-product-green img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 8px;
  border-radius: 20px;
}

.card-product-green h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #FFFF;
}

.card-product-green p {
  font-size: 14px;
  line-height: 1.4;
  color: #FFFF;
  margin-bottom: 0;
  margin-top: 8px;
}

// search bar //
.form-control {
  border-radius: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.search-color {
  background-color: #02595A;
  color: #FFFF;
  border-radius: 15px;
  border: 1px;
  margin-left: 5px;
  padding: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.autoComplete_wrapper>ul>li mark {
  color: #02595A !important;
}
// .fa-magnifying-glass::after {
//   display: none;
// }
