#choice-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 80vw;
}

#recipe-button {
  width: 50%;
}

#recipe-button > p {
  display: flex;
  justify-content: center;
  background-color: #02595A;
  color: #FFFFFF;
  border-radius: 40px 0 0 40px;
  padding: 15px 50px 15px 50px;
  font-weight: normal;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 6px 5px 0px;
}

#restaurant-button {
  width: 50%;
}

#restaurant-button > p {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 0 40px 40px 0;
  padding: 15px 50px 15px 50px;
  font-weight: normal;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 6px 5px 0px;
}

// .cards-front1, .cards-front2, .cards-back1, .cards-back2 {
//   transition: transform .6s linear;
// }

// .cards-front1, .cards-front2 {
//   transform: perspective(600px) rotateY(0deg);
// }

// .cards-back1, .cards-back2 {
//   transform: perspective(600px) rotateY(180deg);
// }

// .cards-recipes.rotated > .cards-front1, .cards-front2 {
//   transform: perspective(600px) rotateY(180deg);
// }
// .cards-restaurants.rotated > .cards-back1, .cards-back2{
//   transform: perspective(600px) rotateY(0deg);
// }
