.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 15px !important;
  padding: 20px 20px 2px !important;
  color: #02595A;
  width: 75% !important;
}

.mapboxgl-popup-content h2{
  margin-top: -17px;
  font-size: 2vh;
}
.mapboxgl-popup-content h3{
  font-size: 1.5vh;
  line-height: 2;
}

.mapboxgl-popup-content a{
  color: #02595A;

}

.mapboxgl-canvas{
  width: 391px !important;
  height: 354.594px !important;
  padding: 1vh;
  top: -15px !important;
  border-radius: 3vh;
}
