.button-sample {
  display: flex;
  justify-content: center;
  background-color: #02595A;
  color: #FFFFFF;
  padding: 10px;
  margin: 20px 100px;
  text-decoration: none;
  border-radius: 40px;
}

.button-p-white {
  text-decoration: none;
  color: white;
}

.button-sample-sort{
  display: flex;
  justify-content: center;
  background-color: #02595A;
  color: #FFFFFF;
  padding: 10px 114px 10px;
  margin: 17px 51px;
  text-decoration: none;
  border-radius: 40px;
}

.button-sample-link{
  display: flex;
  justify-content: center;
  background-color: #02595A;
  color: #FFFFFF;
  padding: 10px 40px;
  margin: 17px 51px;
  text-decoration: none;
  border-radius: 40px;
}
